<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>User Page</h1>
        
        <h2>{{user}} </h2>
        
        <!-- Display the message, if available -->
        {% if message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endif %}
        
        <!-- List of objects displayed as Bootstrap cards -->
        <div class="row">
            {% for item in lists %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.id }}</h5>
                        <p class="card-text">{{ item.password }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <form method="POST" action="/logout">
    	  <button type="submit" class="btn btn-danger">Logout</button>
	</form>
	
	<form method="POST" action="/deleteUser">
	 <button type="submit" class="btn btn-danger">Delete User</button>
	</form>
    </div>
    
    <!-- Include Bootstrap JavaScript and jQuery (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

